<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lilystudio.wheretosleepinnju">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.CAMERA" />-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--<uses-permission android:name="android.permission.READ_LOGS" />-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--android:roundIcon="@mipmap/ic_launcher_round"-->

    <application
        android:name="com.lilystudio.wheretosleepinnju.app.app"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/nanjingBlueTheme">
        <activity
            android:name="com.lilystudio.wheretosleepinnju.course.CourseActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lilystudio.wheretosleepinnju.setting.SettingActivity" />
        <activity android:name="com.lilystudio.wheretosleepinnju.impt.ImptActivity" />
        <activity android:name="com.lilystudio.wheretosleepinnju.add.AddActivity" />
        <activity android:name="com.lilystudio.wheretosleepinnju.mg.MgActivity" />
        <activity android:name="com.lilystudio.wheretosleepinnju.about.AboutActivity" />
        <activity android:name="com.lilystudio.wheretosleepinnju.conf.ConfActivity" />
        <!--<activity android:name=".school.SchoolActivity"></activity>-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <receiver android:name="com.lilystudio.wheretosleepinnju.widget.OneWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_one" />
        </receiver>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>